*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.8) 50%, rgba(240, 240, 240, 0.6));
    margin: 0;
}

@media screen and (min-width: 1000px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

p {
    margin: 0;
}

.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
}

@media screen and (min-width: 1000px) {
    .music-player {
        width: 50vmin;
        padding-top: 0;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0.8) 50%, rgba(240, 240, 240, 0.6));
        overflow: hidden;
    }
}

.img-container {
    width: 60vmin;
    height: 60vmin;
    margin-top: 2rem;
    line-height: 0;
    border: 1px solid rgba(100, 100, 100, 0.8);
    border-radius: 0.2rem;
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    .img-container {
        width: 100%;
        margin-top: 0;
    }
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border-top: rgba(0, 0, 0, 0.25);
}

.controls__artist-track {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #f0f0f0;
    padding: 1rem 1.5rem 0 1.5rem;
}

#title {
    font-size: 1.7rem;
    font-weight: 500;
}

#artist {
    font-size: 1.5rem;
    font-weight: lighter;
}

.controls__fav-menu {
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5rem 0 1.5rem;
}

#add-fav svg {
    width: 2.5rem;
    height: 2.5rem;
}

#menu svg {
    width: 2.5rem;
    height: 2.5rem;
}

.controls__slider {
    width: 100%;
    margin: 1rem 0 0.5rem 0;
    padding: 0 1.5rem 0 1.5rem;
}

.controls__times {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #f0f0f0;
    padding: 0 1.5rem 2rem 1.5rem;
}

.controls__buttons {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background-color: transparent;
}

button~button {
    margin-left: 1.5rem;
}

@media screen and (min-width: 1000px) {
    button~button {
        margin-left: 0;
    }
}

#back,
#next {
    transform: scale(0.8);
}

#play svg,
#next svg,
#back svg {
    width: 15vw;
    height: 15vh;
    fill: #f0f0f0;
}

@media screen and (min-width: 1000px) {
    #play svg,
    #next svg,
    #back svg {
        width: 5vw;
        height: 5vh;
    }
}

#time-range,
#time-range::-webkit-slider-runnable-track,
#time-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 100%;
}

#time-range::-webkit-slider-runnable-track {
    height: 3px;
    background: linear-gradient(to right, #293043, #293043), #d7d7d7;
    background-size: var(--background-size, 0%) 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}

#time-range::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-top: -6px;
}